.car {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 24px;
  border-radius: 10px;
  width: 304px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 64px;
}

.name {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.name h2 {
  color: #1a202c;
  font-size: 20px;
  letter-spacing: -3%;
}

.name span {
  color: #90a3bf;
  font-size: 14px;
  font-weight: 800;
}

.carImage {
  margin-bottom: 37px;
}

.car-sett {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.car-sett div {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.car-sett div span {
  font-size: 14px;
  color: #90a3bf;
}

.price {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 24px;
}

.price p {
  color: #1a202c;
  font-size: 20px;
  font-weight: 800;
}

.price p span {
  color: #90a3bf;
  font-size: 14px;
}

.price button {
  background-color: #3563e9;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
